.servicesSection {
  padding: 50px 0 34px
}
.servicesSub {
  color: #ffffffcc;
  margin: 0 0 45px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 22px
}
.card.service {
  width: 100%;
  max-width: calc(100% / 3 - 15px);
  min-height: 425px;
  background: #141414;
  border: 1px solid transparent;
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 24px rgba(0,0,0,.25);
  box-shadow: 0 10px 24px rgba(0,0,0,.25);
  padding: 28px 26px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-transition: border-color .15s ease,-webkit-transform .15s ease,-webkit-box-shadow .15s ease;
  transition: border-color .15s ease,-webkit-transform .15s ease,-webkit-box-shadow .15s ease;
  -o-transition: transform .15s ease,box-shadow .15s ease,border-color .15s ease;
  transition: transform .15s ease,box-shadow .15s ease,border-color .15s ease;
  transition: transform .15s ease,box-shadow .15s ease,border-color .15s ease,-webkit-transform .15s ease,-webkit-box-shadow .15s ease
}
.icon {
  width: 100%;
  max-width: 150px;
  margin: 26px auto 35px;
  display: block
}
.serviceTitle {
  margin: 0 0 34px;
  color: #fff;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center
}
.serviceDesc {
  color: #ffffffcc;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  max-width: 315px;
  width: 100%
}
@media (max-width:1023px) and (min-width:768px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 23px
  }
}
@media (max-width:767px) and (min-width:360px) {
  .services {
    display: none
  }
  .servicesSwiper {
    padding-bottom: 40px
  }
  .card.service {
    width: 100%;
    max-width: 320px;
    min-height: 436px;
    margin: 0 auto;
    background: #141414;
    border-radius: 16px;
    box-shadow: 0 10px 24px rgba(0,0,0,.25);
    text-align: center;
    padding: 40px 20px;
    box-sizing: border-box
  }
  .icon {
    max-width: 150px;
    margin: 20px auto 28px
  }
  .serviceTitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px
  }
  .serviceDesc {
    font-size: 14px;
    line-height: 22px;
    max-width: 280px;
    margin: 0 20px;
    color: #ffffffcc
  }
  .swiper-pagination {
    bottom: 5px!important
  }
  .swiper-pagination-bullet {
    opacity: 1;
    background: var(--swiper-pagination-bullet-inactive-color,#fff)
  }
  .swiper-pagination-bullet-active {
    background: #0a84ff
  }
  
  
}