.aboutCta {
  padding: 50px 0
}
.aboutCta-box {
  margin: 0 auto;
  padding: 2.5rem 2rem;
  background-color: var(--palette-bg-800);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-pop-soft);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center
}
.aboutCta-heading {
  font-family: Barlow,sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--palette-text-primary);
  margin-top: 0;
  margin-bottom: 8px
}
.aboutCta-text {
  font-family: Barlow,sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--palette-text-secondary);
  margin-top: 0;
  margin-bottom: 24px
}
.aboutCta-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 162px;
  padding: 14px 22px;
  border-radius: var(--radius-full);
  background: var(--palette-accent);
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  transition: .3s all ease-in-out;
  font-family: Barlow,sans-serif;
  border: 1px solid var(--palette-accent);
  cursor: pointer
}
.aboutCta-button:hover {
  background: var(--palette-hover-ghost);
  color: var(--palette-accent)
}
@media (max-width:767.98px) {
  .aboutCta {
    padding: 40px 0
  }
  .aboutCta-box {
    padding: 2rem 1.5rem
  }
  .aboutCta-heading {
    font-size: 24px
  }
  .aboutCta-text {
    font-size: 14px
  }
  .aboutCta-button {
    max-width: 100%
  }
}