.gridWrap {
  position: relative
}
.emptyState {
  background: var(--card-800);
  border-radius: 18px;
  padding: 24px;
  margin-bottom: 16px;
  color: var(--text-300);
  text-align: center
}
.grid {
  display: grid;
  gap: 24px
}
.sliderWrap {
  width: 100%
}
.slideCol {
  padding: 0 15px
}
.sliderWrap :global(.slick-dots) {
  margin: 40px 0 0;
  display: flex!important;
  justify-content: center;
  gap: 10px
}
.sliderWrap :global(.slick-dotsli) {
  list-style: none;
  line-height: 0
}
.sliderWrap :global(.slick-dotslibutton) {
  text-indent: -999999px;
  padding: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid rgba(255,255,255,.18);
  background: 0 0;
  position: relative;
  transition: .3s ease-in-out
}
.sliderWrap :global(.slick-dotsli.slick-activebutton) {
  border-color: #0a84ff
}
.sliderWrap :global(.slick-dotslibutton::before) {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #0a84ff;
  transform: translate(-50%,-50%);
  transition: .3s ease-in-out;
  opacity: 0
}
.sliderWrap :global(.slick-dotsli.slick-activebutton::before) {
  opacity: 1
}