.faqWrapper {
  background-color: #030303;
  color: #fff;
  padding: 32px 0
}
.faqWrapper h3 {
  text-align: center;
  margin: 0 0 60px;
  font-family: Barlow;
  font-weight: 600;
  font-size: 36px;
  line-height: 56px
}
.accordion {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto
}
.accordionItem {  
  margin: 16px 0;
  border-radius: 16px;
  border: 1px;
  overflow: hidden
}
.accordionItemHeader {
  width: 100%;
  min-height: 94px;
  padding: 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background: #141414;
  border: 0;
  text-align: left;
  font-family: Barlow;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: #fff;
  outline: none;
}
.accordionItem.open .accordionItemHeader {
  color: #0a84ff;
  background: #1e1e1e
}
.accordionItemIcon {
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.accordionItem.open .accordionItemIcon:before {
  transform: translateY(-50%) rotate(-90deg);
  opacity: 0;
}
.accordionItem.open .accordionItemIcon:after {
  transform: translateY(-50%) rotate(0);
}
.accordionItemIcon:before,
.accordionItemIcon:after {
  content: "";
  display: block;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  transition: 0.35s;
  width: 100%;
  height: 3px;
}
.accordionItem.open .accordionItemIcon:before,
.accordionItem.open .accordionItemIcon:after {
  background-color: #0a84ff;
}
.accordionItemIcon:before {
  transform: translateY(-50%);
}
.accordionItemIcon:after {
  transform: translateY(-50%) rotate(90deg);
}
.accordionItemBody {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  -o-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
  background: #1e1e1e;
  color: #e6e6e6;
}
.accordionItemBodyContent {
  padding: 0 50px 30px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #E6E6E6
}
@media (max-width:767px) {
  html {
    font-size: 14px
  }
}