.faqWrapper {
  background-color: var(--palette-bg-950);
  color: var(--palette-text-primary);
  padding: 12px 0 40px
}
.faqWrapper h3 {
  text-align: center;
  margin: 0 0 60px;
  font-weight: 600;
  font-size: 36px;
  line-height: 56px
}
.accordion {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto
}
.accordionItem {
  margin: 22px 0;
  border-radius: 16px;
  border: 1px;
  overflow: hidden
}
.accordionItemHeader {
  width: 100%;
  min-height: 94px;
  padding: 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  background: var(--palette-bg-800);
  border: 0;
  text-align: left;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  color: var(--palette-text-primary);
  outline: 0
}
.accordionItemHeader span {
  font-family: Barlow
}
.accordionItemHeader:hover {
  color: var(--palette-accent)
}
.accordionItemHeader:focus-visible {
  outline: 2px solid #0a84ff;
  outline-offset: 2px
}
.accordionItem.open .accordionItemHeader {
  color: var(--palette-accent);
  background: var(--palette-bg-700)
}
.accordionItemIcon {
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer
}
.accordionItem.open .accordionItemIcon:before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
  opacity: 0
}
.accordionItem.open .accordionItemIcon:after {
  -webkit-transform: translateY(-50%) rotate(0);
  -ms-transform: translateY(-50%) rotate(0);
  transform: translateY(-50%) rotate(0)
}
.accordionItemIcon:after,
.accordionItemIcon:before {
  content: "";
  display: block;
  background-color: var(--palette-text-primary);
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transition: .35s;
  -o-transition: .35s;
  transition: .35s;
  width: 100%;
  height: 3px
}
.accordionItem.open .accordionItemIcon:after,
.accordionItem.open .accordionItemIcon:before {
  background-color: var(--palette-accent)
}
.accordionItemHeader:hover .accordionItemIcon:after,
.accordionItemHeader:hover .accordionItemIcon:before {
  background-color: var(--palette-accent)
}
.accordionItemIcon:before {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.accordionItemIcon:after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg)
}
.accordionItemBody {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  -o-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
  background: var(--palette-bg-700);
  color: var(--palette-text-primary)
}
.accordionItemBodyContent {
  padding: 0 35px 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: var(--palette-text-primary)
}
@media (max-width:767.98px) {
  html {
    font-size: 14px
  }
  .faqWrapper h3 {
    font-weight: 700;
    font-size: 24px;
    text-align: center
  }
  .accordionItemHeader {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    min-height: 75px;
    padding: 20px 18px;
    gap: 15px
  }
  .accordionItemHeader span {
    max-width: calc(100% - 30px);
    width: 100%
  }
  .accordionItemIcon {
    width: 15px;
    height: 15px
  }
  .accordionItemBodyContent {
    font-weight: 400;
    font-size: 14px;
    padding: 0 18px 20px
  }
}