.startedSection {
  position: relative;
  padding: 50px 0 30px;
  background: #030303
}
.startedContainer {
  position: relative
}
.startedTitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: #fff;
  text-align: center;
  margin: 0 0 28px
}
.testimonialSlider {
  position: relative;
  padding: 8px 35px!important;
  margin-top: 44px
}
.testimonialCard {
  background: 0 0;
  text-align: center;
  padding: 12px 18px 10px
}
.quoteLine {
  position: relative;
  height: 44px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin-bottom: 0
}
.quoteLine::after,
.quoteLine::before {
  content: "";
  position: absolute;
  top: 50%;
  max-width: 116px;
  width: 100%;
  height: 1px;
  background: rgba(255,255,255,.12);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.quoteLine::before {
  left: 0
}
.quoteLine::after {
  right: 0
}
.quoteIcon {
  display: block;
  max-width: 44px;
  width: 100%;
  height: 44px;
  -o-object-fit: cover;
  object-fit: cover
}
.testimonialQuote {
  color: #fff;
  max-width: 317px;
  width: 100%;
  margin: 40px auto 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}
.testimonialReviewer {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #0a84ff;
  margin-top: 39px
}
.testimonialText {
  color: #ffffffcc;
  font-weight: 400;
  font-size: 11px
}
.tsNav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(calc(-50% + 38px));
  -ms-transform: translateY(calc(-50% + 38px));
  transform: translateY(calc(-50% + 38px));
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background: #0a84ff;
  border: 1px solid #0a84ff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer
}
.tsPrev {
  left: 8px
}
.tsNext {
  right: 8px
}
.tsNav svg {
  max-width: 18px;
  width: 100%;
  display: block
}
.tsNav:hover svg path {
  stroke: #0A84FF
}
.tsNav.tsPrev svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.tsNav:hover {
  border: 1px solid #0a84ff;
  background: #fffFFF1A
}
.testimonialSlider::after,
.testimonialSlider::before {
  content: "";
  position: absolute;
  top: 0;
  width: 36px;
  height: 100%;
  z-index: 5;
  pointer-events: none
}
.testimonialSlider::after {
  right: 0;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1)
}
.testimonialSlider::before {
  left: 0
}
.testimonialSlider {
  padding: 8px 35px 36px!important
}
.testimonialSlider .swiper-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 11;
  pointer-events: auto
}
.testimonialSlider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  opacity: 1;
}
.testimonialSlider .swiper-pagination-bullet-active {
  background: #0a84ff
}
.testimonialSlider::before,
.testimonialSlider::after {
  z-index: 5;
}

@media (max-width:1230.98px) {
  .quoteLine::after,
  .quoteLine::before {
    max-width: 160px
  }
  .tsPrev {
    left: 10px
  }
  .tsNext {
    right: 10px
  }
}
@media (max-width:767px) {
  .tsNav {
    display: none
  }
  .testimonialSlider {
    padding: 8px 16px 36px!important
  }
}
@media (max-width:767px) {
  .quoteLine::after,
  .quoteLine::before {
    max-width: 100px
  }
}