.logosSection {
  padding: 65px 0 40px;
  position: relative;
  overflow: hidden
}
.logosSection:after,
.logosSection:before {
  position: absolute;
  content: '';
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 2;
  pointer-events: none
}
.logosSection:before {
  left: 0;
  background: linear-gradient(to left,transparent,#030303)
}
.logosSection:after {
  right: 0;
  background: linear-gradient(to right,transparent,#030303)
}
.marquee {
  overflow: hidden;
  width: 100%;
  position: relative
}
.marqueeGroup {
  display: inline-flex;
  gap: 20px;
  width: max-content;
  animation: scroll-left 40s linear infinite
}
.marqueeGroup img {
  width: 100%;
  max-width: 249px;
  filter: grayscale(1) brightness(1.4);
  opacity: .9;
  display: block;
  object-fit: contain;
  transition: filter .3s ease
}
.marqueeGroup img:hover {
  filter: grayscale(0) brightness(1);
  opacity: 1
}
@keyframes scroll-left {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-50%)
  }
}