.teamSection {
  background: #030303;
  padding: 56px 0 24px;
  color: #fff;
  height: 800px
}
.teamContainer {
  max-width: 100% !important;
  padding: 0 !important;
}
.title {
  margin: 0 0 60px;
  text-align: center;
  font-family: Barlow,system-ui,sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #FFFFFF;
}
.pill {
  display: inline-block;
  color: #fff;
  position: relative;
  z-index: 1
}
.pill:after {
  position: absolute;
  content: '';
  left: -4px;
  bottom: 3px;
  background: #0a84ff;
  width: 98px;
  height: 47px;
  border-radius: 16px;
  z-index: -1
}
.slider {
  width: 100%;
  max-width: 100%;
}
.cardSlide {
  width: clamp(220px,22vw,280px)!important
}
.card {
  background: #141414;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 24px rgba(0,0,0,.28);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 550px;
  width: 100%;
  padding: 45px 0
}
.memberImg {
  max-width: 377px;
  width: 100%;
  aspect-ratio: 2/3;
  display: block;
  object-fit: cover
}
.infoName {
  font-family: Barlow;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
  margin: 10px auto;
}
.infoRole {
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
}