.logosSection {
  padding: 65px 0 48px;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg,rgb(246 246 246 / 0) 0,var(--palette-bg-950) 100%)
}
.logosSection:after,
.logosSection:before {
  position: absolute;
  content: "";
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 2;
  pointer-events: none
}
.logosSection:before {
  left: 0;
  background: linear-gradient(to left,transparent,var(--palette-bg-950))
}
.logosSection:after {
  right: 0;
  background: linear-gradient(to right,transparent,var(--palette-bg-950))
}
.marqueeGroup img {
  width: 100%;
  max-width: 300px;
  -webkit-filter: brightness(0) saturate(100%);
  filter: brightness(0) saturate(100%);
  opacity: 1;
  display: block;
  margin: 0 auto
}