.siteFooter {
  background: #030303;
  position: relative;
  border-top: 1px solid #fff
}
.footerTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 22px;
  padding: 60px 0 14px!important
}
.footerLogo {
  max-width: 261px;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover
}
.footNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 22px
}
.footNav a {
  color: #fff;
  text-decoration: none;
  font-family: Barlow;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 10px
}
.footNav a:hover {
  font-weight: 600;
  color: #0a84ff
}
.footSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  max-width: 100%;
  gap: 10px
}
.socialBtn {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: -webkit-transform .15s ease,-webkit-filter .15s ease;
  transition: -webkit-transform .15s ease,-webkit-filter .15s ease;
  -o-transition: transform .15s ease,filter .15s ease;
  transition: transform .15s ease,filter .15s ease;
  transition: transform .15s ease,filter .15s ease,-webkit-transform .15s ease,-webkit-filter .15s ease;
  background: -webkit-gradient(linear,left top,left bottom,from(#242424),to(rgba(36,36,36,0)));
  background: -o-linear-gradient(top,#242424 0,rgba(36,36,36,0) 100%);
  background: linear-gradient(180deg,#242424 0,rgba(36,36,36,0) 100%)
}
.socialBtn:hover {
  -webkit-transform: translateY(-1px);
  -ms-transform: translateY(-1px);
  transform: translateY(-1px);
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1)
}
.socialIcon {
  display: block;
  width: 40px;
  height: 40px
}
.footerMid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 30px;
  padding: 17px 0 10px;
  position: relative;
  max-width: 837px;
  width: 100%;
  margin: 0 0 0 auto
}
.footAddress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  color: #fff;
  text-align: center;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}
.footContacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 10px
}
.footContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px;
  color: #fff;
  text-decoration: none;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}
.footerBottom {
  text-align: center;
  color: #fff;
  padding: 8px 0 50px;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}
.uiIcon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  display: block
}
.footerLeft {
  outline: 0;
  text-decoration: none
}