.processSection {
  padding: 24px 0
}
.processTitle {
  text-align: center;
  margin-bottom: 20px
}
.processSub {
  color: #ffffffe5;
  margin: 0 auto 48px;
  text-align: center;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  max-width: 690px;
  width: 100%
}
.processGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 22px 1fr 22px 1fr 22px 1fr;
  grid-template-columns: repeat(4,1fr);
  gap: 22px
}
.step {
  background: #1a1a1a;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 14px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 210px 1fr;
  grid-template-rows: auto 210px 1fr;
  -webkit-box-shadow: 0 8px 20px rgba(0,0,0,.25);
  box-shadow: 0 8px 20px rgba(0,0,0,.25)
}
.stepHead {
  background: #1a1a1a;
  color: #81807e;
  text-align: center;
  padding: 13.17px 14px;
  font-family: Barlow;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255,255,255,.08)
}
.stepBody {
  background: #1f1f1f;
  border-bottom: 2px solid #262626
}
.stepIcon {
  display: block;
  max-width: 150px;
  width: 100%;
  margin: 28px auto;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-filter: drop-shadow(0 8px 18px rgba(0,0,0,0.35));
  filter: drop-shadow(0 8px 18px rgba(0, 0, 0, .35))
}
.stepDesc {
  color: #b3b3b2;
  font-family: Barlow;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 21px 23px 23px
}