.heroWrap {
  border-radius: 10px;
  padding: 0 24px 28px;
  box-shadow: 0 10px 24px rgba(0,0,0,.35);
  text-align: center
}
h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  color: #0b0f19
}
.eyebrow {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--text-300);
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 12px
}
.pill {
  display: inline-block;
  color: #fff;
  position: relative;
  z-index: 1
}
.pill:after {
  position: absolute;
  content: '';
  left: -4px;
  bottom: 5px;
  background: #1d4ed8;
  width: 98px;
  height: 42px;
  border-radius: 8px;
  z-index: -1
}
.subtext {
  margin: 8px auto 0;
  max-width: 760px;
  color: var(--text-300);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%
}